.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login-logo-container {
    display: flex;
    flex-direction: column;
}

.login-logo {
    object-fit: contain;
    height: 150px;
}

.login-button {
    width: 300px;
    background-color: #2e81f4 !important;
    color: #eff2f5 !important;
    font-weight: 800;    
}

.login-button:hover {
    background-color: white !important;
    color: #2e81f4 !important;
}